# -*- mode: Makefile;-*-
# CONFIG
# include $(EPICS_BASE)/configure/RULES

include $(TOP)/configure/E3/DEFINES_FT
include $(TOP)/configure/E3/RULES_BASE
include $(TOP)/configure/E3/RULES_VARS

ifneq (,$(findstring dev,$(MAKECMDGOALS)))
include $(TOP)/configure/E3/RULES_DEV
endif

