# -*- mode: Makefile;-*-

# CONFIG
# include $(EPICS_BASE)/configure/RULES

include $(TOP)/configure/DEFINES_FT

include $(TOP)/configure/RULES_BASE

include $(TOP)/configure/RULES_VARS


ifneq (,$(findstring dev,$(MAKECMDGOALS)))
include $(TOP)/configure/RULES_DEV
endif

